{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "styles/main.css" %}">
        <link rel="stylesheet" href="{% static "styles/ignity.css" %}">
        <title>Ignity</title>
    </head>
    <body>
        <div class="container">
            
            <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url "login" %}">{{user.perfil.nome}}</a></li>
                <li><a href="{% url "logout" %}">LOGOUT</a></li>
            </ul>
            
            <h3 class="text-muted">Ignity</h3>
 
         <h1 class="titulo-principal">Sua melhor chance no Instagram</h1>

        </div>

        <div class="row content">
            {% block body %}
            {% endblock %}
        </div>
    
    </body>
</html>