{% extends "basedeslog.html" %}

{% block body %}


<section class="engine"><a href="https://mobirise.info/v">html templates</a></section><section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"><br>VOCÊ SÓ TEM UM LINK NO INSTAGRAM<br></h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-1"><strong>
                    FAÇA ELE VALER A PENA</strong></p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="https://mobirise.com">Crie Sua Conta Grátis</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>

</section>

<section class="counters1 counters cid-rx3EadcKEd" id="counters1-6">

    

    

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Nunca mais mude o link da sua Bio</h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5"><u>
            Como Funciona</u></h3>

        <div class="container pt-4 mt-2">
            <div class="media-container-row">
                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbri-mobirise mbr-iconfont"></span>
                        </div>

                        <div class="card-text">
                            <h3 class="pt-3 pb-3 mbr-fonts-style display-5">
                                  Crie sua Conta</h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                Fácil e Grátis</h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Crie sua conta gratuitamente,<br>e comece a usar o InstaGin.ga<br>para criar seus links</p>
                        </div>
                    </div>
                </div>


                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-upload"></span>
                        </div>
                        <div class="card-text">
                            <h3 class="pt-3 pb-3 mbr-fonts-style display-5">Crie seus links</h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                Links ilimitados</h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                    Crie e gerencie facilmente<br>os links para seu conteúdo.&nbsp;<br>Organize os títulos, as URLs&nbsp;<br>de destino e a ordem de exibição</p>
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-features"></span>
                        </div>
                        <div class="card-text">
                            <h3 class="pt-3 pb-3 mbr-fonts-style display-5">
                                  Cole o link na sua Bio</h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                Instagin.ga/você :)</h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                    Cole o link na sua bio, e ofereça<br>aos seus seguidores diversos links,<br>de maneira fácil e organizada</p>

                        </div>

                    </div>

                </div>


                
            </div>
            
        </div>

   </div>

</section>

<section class="header12 cid-rx3Gw3rdad mbr-fullscreen mbr-parallax-background" id="header12-7">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container  ">
            <div class="media-container">
                <div class="col-md-12 align-center">
                    <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                        CONHEÇA MELHOR SUA AUDIÊNCIA</h1>
                    <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">
                        Entenda qual o tipo de conteúdo que mais engaja seus usuários</p>
                    <div class="mbr-section-btn align-center py-2"><a class="btn btn-md btn-secondary display-4" href="https://mobirise.co">EU QUERO!</a></div>

                    <div class="icons-media-container mbr-white">
                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                            <a href="https://mobirise.co/">
                                <span class="mbri-layers mbr-iconfont"></span>
                            </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Gestão Simples</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="https://mobirise.co/">
                                    <span class="mbri-sun mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Analytics Fácil e Rápido</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="https://mobirise.co/">
                                    <span class="mbri-cash mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Entenda sua Audiência</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="https://mobirise.co/">
                                    <span class="mbri-mobirise mbr-iconfont"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Produza Conteúdo Relevante&nbsp;</h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
{% endblock %}

