{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "styles/main.css" %}">
        <link rel="stylesheet" href="{% static "styles/ignity.css" %}">
        <title>Links de {{perfil.nome}}</title>
    </head>
    <body>
        <div class="container">
            
            <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url "login" %}">{{user.perfil.nome}}</a></li>
                <li><a href="{% url "logout" %}">LOGOUT</a></li>
            </ul>

         <h3 class="text-muted">Ignity</h3>
 
         <h1 class="titulo-principal">Links de {{perfil.nome}}</h1>

         <div class="lista-outputs">
            <ul>

                {% for link in lista_links %}
                <li class="item-lista">
                <form action="http://{{link.url}}" target="_blank" class="form-botao-externo">    
                <button class="botaoExterno btn btn-lg btn-block link-externo">{{link.titulo}}</button>
                </form>
                <span class="alinhamento">
                <span class="num-cliques">Número de Cliques: <span class="numero-cliques"></span></span>
                <span class="num-likes">Likes: </span>
                </span>
                </li>
                {% endfor %}
            </ul>
        </div>
       
       <script src="../static/scripts/contaCliques.js"></script>     
   
    </body>
</html>