{% load staticfiles %}



<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "styles/main.css" %}">
        <link rel="stylesheet" href="{% static "styles/ignity.css" %}">
        <title>Links de {{perfil.nome}}</title>
    </head>
    <body>
        <div class="container">
            
            <div class="header">
              

        <img class="pull-right" src="{% static "assets/images/dancing-122x122.png" %}"  alt="Minha Home" title="" style="height: 3.8rem;">
         <h3 class="text-muted pull-right">InstaGin.ga</h3>

 



         <h3 class="text-muted">Links de {{perfil.nome}}</h3>

         <div class="lista-outputs">
            <ul>

                {% for link in lista_links %}
                <li class="item-lista">
                
                <div onclick="abreJanela('{{link.url}}')" class="abre-janela")>
                    <form action="{% url "clicalink" link.id %}" method="post" class="form-botao-externo">
                    {% csrf_token %}    
                    <button class="botaoExterno btn btn-lg btn-block link-externo">{{link.titulo}}</button>
                    </form>
                    <!-- <span class="alinhamento">
                    <span class="num-cliques">Número de Cliques:{{link.cliques}} <span class="numero-cliques"></span></span>
                    <span class="num-likes">Likes: </span>
                    </span> -->
                </div>
                </li>
                {% endfor %}
            </ul>
        </div>


       <script src="../static/scripts/abreJanela.js"></script>     
   
    </body>
</html>

