{% extends "basedeslog.html" %}

{% block body %}


<section class="engine"><a href=""{% url "home-page" %}"">bootstrap templates</a></section><section class="header1 cid-rx4i8fZHyD mbr-parallax-background" id="header1-a">
<br>
<br>
<br>
<br>
<br>

<br>

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(20, 157, 204);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <!--<h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">NOSSOS PLANOS</h1>-->
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Melhore o engajamento da sua audiência</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Veja abaixo os planos e recursos disponíveis, e escolha de acordo com sua necessidade</p>
                
            </div>
        </div>
    </div>
<br>
<br>

</section>

<section class="pricing-table2 cid-rx4ipwSU6j" id="pricing-tables2-c">

    

    

    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center favorite col-lg-6">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Plano Básico</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">R$
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            0</span>
                        <small class="price-term mbr-fonts-style display-7">
                            por mês</small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Perfeito para quem está iniciando</li>
                            <li class="list-group-item">
                                Links Ilimitados</li><li class="list-group-item">Número total de cliques de cada link</li><li class="list-group-item">Visualizações totais</li><li class="list-group-item">Customize com sua foto</li><li class="list-group-item">Diferentes temas visuais, para você customizar seus links</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="{% url "home-page" %}" class="btn btn-primary display-4">CRIE AGORA</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-6">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Plano Pro</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">--</span>
                        <span class="price-figure mbr-fonts-style display-5">Em breve</span>
                        <small class="price-term mbr-fonts-style display-5"><strong>--</strong></small>
                        
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                Inclui todas as funcionalidades do plano básico e:</li>
                            <li class="list-group-item">
                                Funcionalidade de Likes</li><li class="list-group-item">Gestão de produtos recebidos</li>
                            <li class="list-group-item">
                                Capture emails dos seus seguidores</li><li class="list-group-item">Customização completa da experiência visual</li><li class="list-group-item">Agendamento de links, em sincronia com suas postagens</li><li class="list-group-item">Adicione background customizado</li><li class="list-group-item">Analytics detalhado dos usuários</li><li class="list-group-item">Mais temas para você customizar</li><li class="list-group-item">Coloque thumbnails em cada link</li><li class="list-group-item">Remove nosso logo</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="{% url "home-page" %}" class="btn btn-primary display-4">EM BREVE!</a></div>
                </div>
            </div>

            

            

        </div>
    </div>
</section>
{% endblock %}

